<script>
  const onFilterSortSubmit = () => {
    const searchParams = new URLSearchParams();
    for (const stars of ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]) {
      if (document.getElementById(`starsCheckbox${stars}`).checked) {
        searchParams.append("stars[]", stars);
      }
    }
    for (const crown of ["Unplayed", "Failed", "Cleared", "FullCombo", "DonderFullCombo"]) {
      if (document.getElementById(`crownCheckbox${crown}`).checked) {
        searchParams.append("crown[]", crown);
      }
    }
    for (const bestScore of ["NoBadge", "WhiteBadge", "BronzeBadge", "SilverBadge", "GoldBadge", "PinkBadge", "PurpleBadge", "RainbowBadge"]) {
      if (document.getElementById(`bestScoreCheckbox${bestScore}`).checked) {
        searchParams.append("bestScore[]", bestScore);
      }
    }
    for (const sort of ["Score", "ScoreDesc", "Stars", "StarsDesc", "Ryo", "RyoDesc", "Ka", "KaDesc", "Fuka", "FukaDesc", "Penalty", "PenaltyDesc"]) {
      if (document.getElementById(`sortRadio${sort}`).checked) {
        searchParams.append("sort", sort);
      }
    }

    window.location = `${window.location.origin}${window.location.pathname}?${searchParams.toString()}`;
  };
</script>
<div class="container">
  <h1>Scores</h1>
  <div>
    Stars
    <% ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"].each do |stars| %>
      <div class="form-check form-check-inline">
        <input <%= params["stars"]&.include?(stars) ? "checked" : "" %> class="form-check-input" type="checkbox" id="starsCheckbox<%= stars %>" />
        <label class="form-check-label" for="starsCheckbox<%= stars %>"><%= stars %> (<%= @scores.where('charts.stars' => stars.to_i).count %>)</label>
      </div>
    <% end %>
  </div>

  <div>
    Crown
    <% ["Unplayed", "Failed", "Cleared", "FullCombo", "DonderFullCombo"].each do |crown| %>
      <div class="form-check form-check-inline">
        <input <%= params["crown"]&.include?(crown) ? "checked" : "" %> class="form-check-input" type="checkbox" id="crownCheckbox<%= crown %>" />
        <label class="form-check-label" for="crownCheckbox<%= crown %>"><%= crown %> (<%= @scores.where('crown' => Score::CROWN_MAPPING[crown]).count %>)</label>
      </div>
    <% end %>
  </div>

  <div>
    Best score
    <% ["NoBadge", "WhiteBadge", "BronzeBadge", "SilverBadge", "GoldBadge", "PinkBadge", "PurpleBadge", "RainbowBadge"].each do |best_score| %>
      <div class="form-check form-check-inline">
        <input <%= params["bestScore"]&.include?(best_score) ? "checked" : "" %> class="form-check-input" type="checkbox" id="bestScoreCheckbox<%= best_score %>" />
        <label class="form-check-label" for="bestScoreCheckbox<%= best_score %>"><%= best_score %> (<%= @scores.where('best_score' => Score::BEST_SCORE_MAPPING[best_score]).count %>)</label>
      </div>
    <% end %>
  </div>

  <div>
    Sort
    <% ["Score", "ScoreDesc", "Stars", "StarsDesc", "Ryo", "RyoDesc", "Ka", "KaDesc", "Fuka", "FukaDesc", "Penalty", "PenaltyDesc"].each do |sort| %>
      <div class="form-check form-check-inline">
        <input name="inlineRadioOptions" <%= params["sort"] == sort ? "checked" : "" %> class="form-check-input" type="radio" id="sortRadio<%= sort %>" />
        <label class="form-check-label" for="sortRadio%= sort %>"><%= sort %></label>
      </div>
    <% end %>
  </div>

  <button onClick="onFilterSortSubmit()" type="button" class="btn btn-primary">Update</button>

  <div class="row row-cols-1 rows-cols-md-2 row-cols-lg-3 g-2">
    <% @scores.each do |s| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= s.chart.song.name %></h5>
            <h6 class="card-subtitle text-muted"><%= s.chart.level %> level <%= s.chart.stars %></h6>
            <% if s.score != 0 %>
              <p class="mb-0"><%= s.score %> (-<%= s.ka + 2 * s.fuka %>) (<span class="text-danger"><%= s.ryo %></span> / <span class="text-secondary"><%= s.ka %></span> / <span class="text-primary"><%= s.fuka %></span> / <%= s.rolls %>)</p>
            <% end %>
            <% unless s.crown.nil? %>
              <img class="donder-hiroba-logo" src="<%= s.crown %>" />
            <% end %>
            <% unless s.best_score.nil? %>
              <img class="donder-hiroba-logo" src="<%= s.best_score %>" />
            <% end %>
          </div>
          <ul class="list-group list-group-flush">
            <% s.chart.song.song_categories.each do |sc| %>
              <li class="list-group-item"><%= sc.category.name %> #<%= sc.sequence_no %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
