<script>
  const columnDefs = [
    { field: "name", sortable: true, filter: true },
    { field: "difficulty", sortable: true, filter: true },
    { field: "stars", sortable: true, filter: true },
    { field: "score", sortable: true, filter: true },
    {
      field: "crown",
      sortable: true,
      filter: true,
      cellRenderer: params => params.value ? `<img height="100%" src=${params.value} />` : ""
    },
    {
      field: "bestScore",
      sortable: true,
      filter: true,
      cellRenderer: params => params.value ? `<img height="100%" src=${params.value} />` : ""
    },
  ];

  const rowData = [
    <% @scores.each do |s| %>
      {
        name: "<%= s.chart.song.name %>",
        difficulty: "<%= s.chart.level %>",
        stars: <%= s.chart.stars %>,
        score: <%= s.score %>,
        crown: "<%= s.crown %>",
        bestScore: "<%= s.best_score %>",
      },
    <% end %>
  ];

  const gridOptions = {
    columnDefs: columnDefs,
    rowData: rowData
  };

  document.addEventListener('DOMContentLoaded', () => {
    const gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
  });
</script>

<div id="myGrid" style="height: 1000px; width: 1200px;" class="ag-theme-alpine"></div>
