<script>
  const columnDefs = [
    { field: "name", maxWidth: undefined },
    { field: "difficulty" },
    { field: "stars", filter: "agNumberColumnFilter" },
    { field: "score", filter: "agNumberColumnFilter" },
    {
      field: "crown",
      cellRenderer: params => params.value ? `<img height="100%" src=${params.value} />` : "",
    },
    {
      field: "bestScore",
      cellRenderer: params => params.value ? `<img height="100%" src=${params.value} />` : "",
    },
  ];

  const rowData = [
    <% @scores.each do |s| %>
      {
        name: "<%= s.chart.song.name %>",
        difficulty: "<%= s.chart.level %>",
        stars: <%= s.chart.stars %>,
        score: <%= s.score %>,
        crown: "<%= s.crown %>",
        bestScore: "<%= s.best_score %>",
      },
    <% end %>
  ];

  const gridOptions = {
    defaultColDef: { sortable: true, filter: true, floatingFilter: true, maxWidth: 100 },
    columnDefs: columnDefs,
    rowData: rowData,
    rowHeight: 30,
    onFirstDataRendered: ({ api }) => api.sizeColumnsToFit(),
  };

  document.addEventListener('DOMContentLoaded', () => {
    const gridDiv = document.querySelector('#scoreGrid');
    new agGrid.Grid(gridDiv, gridOptions);
  });
</script>

<div id="scoreGrid" class="ag-theme-alpine"></div>
